<main>
    <div class="pokemonImage">
        <div class="upperDetails">
            <div class="redCircle"></div>
            <div class="redCircle"></div>
        </div>
        <img [src]="artworkSrc" [alt]="`artwork do pokemon ${pokeData?.name || 'pedro'}`">
        <div class="details">
            <div class="redCircle"></div>
            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="pokemonDetails">
        <ul class="pokemonData">
            <li>Id: {{ pokeData?.id || 1 }}</li>
            <li>Nome: {{ pokeData?.name || 1 }}</li>
            <li>
                Tipos:
                <ol>
                    <li *ngFor="let type of pokeData?.types">{{ type.type.name }}</li>
                </ol>
            </li>
            <li>
                Habilidades:
                <ol>
                    <li *ngFor="let ability of pokeData?.abilities">{{ ability.ability.name }}</li>
                </ol>
            </li>
            <li>
                Estatísticas:
                <ol>
                    <li *ngFor="let stat of pokeData?.stats">{{ stat.stat.name }}: {{ stat.base_stat }} </li>
                </ol>
            </li>
        </ul>
    </div>
</main>

<div class="container">
    <div *ngIf="pokemons.length === 0; else pokemonDisplay">
         <h2>Não há pokemons!</h2>
    </div>

    <ng-template #pokemonDisplay>
        <div *ngFor="let pokemon of pokemons">
            {{ pokemon.pokeName }}
        </div>
    </ng-template>
</div>
