main {
    background-color: #d1dff6;
    min-height: 100vh;
    padding: 1rem;
}

h1 {
    font-family: 'Pixeled';
    text-transform: uppercase;
    text-align: center;
    color: #2b2d42
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-content: center;
}

.card {
    background-color: white;
    width: fit-content;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
}

.card p {
    font-family: 'Poppins-Bold';
    text-transform: capitalize;
    text-align: center;
}

.card span {
    font-size: 12px;
    padding: .3rem .5rem;
    border-radius: 5rem;
    background-color: #f9fafb;
    font-family: 'Poppins-Regular';
    text-transform: capitalize;
}

.card img {
    display: block;
    height: 8rem;
}

.card div {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.pageNumbers {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 1rem 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin
}

.pageNumbers span{
    background-color: white;
    display: block;
    width: 2rem;
    background-color: white;
    text-align: center;
    align-content: center;
    font-family: 'Poppins-Light';
    aspect-ratio: 1;
    border-radius: 5rem;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.currentPage {
    background-color: #7eb6f5 !important;
    color: white;
    font-weight: bold;
}

.pageNumbers span:hover {
  transform: scale(1.1);
}

.backToPokedex {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.backToPokedex img {
    height: 7rem;
    transition: transform ease-in-out .2s;
    cursor: pointer;
}

.backToPokedex img:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 1024px) {
    .cardGrid {
        grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    }
    main {
        padding: .3rem;
    }
    .pageNumbers span {
        font-size: 14px;
        width: 1.6rem;
    }

    .card img {
        height: 8rem;
    }
}

@media screen and (max-width: 1024px) {
    .cardGrid {
        grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    }
}

@media screen and (max-width: 640px) {
    .card img {
        height: 7rem;
    }
}
