main {
    background-color: brown;
    display: flex;
    min-height: 100vh;
    gap: 15px;
    padding: 2rem;
    padding-top: 2rem;
    font-family: 'Poppins-Regular';
}

main > div {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

main > div > div {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: #0000003f 1px 1px 10px;
}

h4 {
    font-family: 'Poppins-Bold';
    font-size: 24px;
    text-transform: capitalize;
}

main > div:first-of-type {
    width: 53%;
}

.general {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 2rem;
}

.general > p:first-of-type{
    font-size: 4rem;
    width: fit-content;
    margin: 0 auto;
    color: #d1d5db;
    font-family: 'Poppins-Bold';
}

.general img {
    display: block;
    height: 40%;
    margin: 0 auto;
}

.pokemonName {
    font-size: 36px;
    font-family: 'Poppins-Bold';
}

.pokemonType {
    padding: 5px 15px;
    color: white;
    border-radius: 5rem;
    background-color: blueviolet;
    margin-right: 5px;
    font-weight: bold;
    box-shadow: lightgray 1px 1px 5px;
}

.flavorText {
    font-family: 'Poppins-Light';
    padding: 0 4rem;
}

.physicalStats > div {
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    width: 80%;
    gap: 10px;
    justify-content: space-between;
}

.physicalStats > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1%;
    background-color: #f9fafb;
}

.physicalStats span {
    font-family: 'Poppins-Bold';
    font-size: 24px;
}

.battleStats > div {
    margin-top: 1rem;
    display: flex;
    min-width: 50ch;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.iconLabel {
    display: flex;
    gap: 10px;
}

.bar, .fill {
    width: 100%;
    max-width: 100%;
    background-color: #f9fafb;
    height: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5rem;
}

.cardAbility {
    font-size: 18px;
    padding: 1rem;
    background-color: #f9fafb;
    margin-top: 15px;
}

.backToPokedex, .allPokemons {
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: #0000009f;
    padding: .5rem 1rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allPokemons {
    left: revert;
    right: 1%;
}

.backToPokedex img, .allPokemons img{
    filter: invert();
    height: 2rem;
    transform: rotate(180deg);
}

.allPokemons img{
    transform: revert;
}

a {
    color: white;
    text-transform: uppercase;
    font-family: 'Pixeled';
    text-decoration: none;
}

main > div:nth-of-type(3) > div {
    max-height: 95vh;
    overflow: auto;
}

main div:nth-of-type(3) h4 {
    margin-bottom: 1rem;
}

.card {
    background-color: white;
    width: fit-content;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    box-shadow: lightgray 0px 0px 5px;
    margin-bottom: 1rem;
}

.card p {
    font-family: 'Poppins-Bold';
    text-transform: capitalize;
    text-align: center;
}

.card span {
    font-size: 12px;
    padding: .3rem .5rem;
    border-radius: 5rem;
    background-color: #f9fafb;
    font-family: 'Poppins-Regular';
    text-transform: capitalize;
}

.card img {
    display: block;
    height: 8rem;
}

.card div {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    main {
        flex-direction: column;
        padding: .5rem;
        padding-top: 5rem;
        font-size: 16px;
    }

    main > div:nth-of-type(n),
    main > div > div,
    .card {
        width: 100%;
    }

    main > div:nth-of-type(3) div{
        max-height: revert;
    }

    .card div{
        padding: 0;
    }

    .card img {
        display: block;
        height: 10rem;
        margin: 0 auto;
    }

    .flavorText {
        margin: 2rem 0;
        padding: 0 1rem;
    }

    .general img {
        display: block;
        margin: 0 auto;
        height: 15rem;
    }

    .battleStats > div {
        min-width: revert;
    }

    .physicalStats h4 {
        margin-bottom: 1rem;
    }
}
