<div class="backToPokedex">
    <img src="assets/imgs/play.png" alt="seta de retorno">
    <a routerLink="">Pokedex</a>
</div>
<div class="allPokemons">
    <a routerLink="/catalog">Catalog</a>
    <img src="assets/imgs/play.png" alt="seta de retorno">
</div>
<main [style.backgroundColor]="getColor(pokeSpecies?.color?.name) ">
    <div>
        <div class="general">
            <p># {{ getFormattedId() }}</p>
            <img [src]="artworkSrc" [alt]="pokeData?.name">
            <p class="pokemonName">{{ pokeData?.name }}</p>
            <div>
                <span class="pokemonType" *ngFor="let type of pokeData?.types" [style.backgroundColor]="getColor(pokeSpecies?.color?.name)" [style.color]="getContrastColor(getColor(pokeSpecies?.color?.name))">{{ type.type.name }}</span>
            </div>
        <p class="flavorText">{{ sanitizeFlavorText(pokeSpecies?.flavor_text_entries?.[randomIndex]?.flavor_text || "No Flavor Text") }}</p>
        </div>
        <div class="physicalStats">
            <h4>Physycal Stats</h4>
            <div>
                <div>
                    <span>{{ pokeData?.height }} m</span>
                    Height
                </div>
                <div>
                    <span>{{ pokeData?.weight }} kg</span>
                    Weight
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="battleStats">
            <h4>Battle Stats</h4>
            <div *ngFor="let item of pokeData?.stats">
                <div class="iconLabel">
                    <lucide-icon [img]="icons[item.stat.name]" class="my-icon"></lucide-icon>
                    <div class="label" [innerHtml]="item.stat.name"></div>
                </div>
                <div class="number">{{ item.base_stat }}</div>
                <div class="bar">
                    <div class="fill" [style.width.%]="item.base_stat / 1.5" [style.backgroundColor]="getColor(pokeSpecies?.color?.name)"></div>
                </div>
            </div>
        </div>
        <div class="abilities">
            <h4>abilities</h4>
            <div class="cardAbility" *ngFor="let item of pokeData?.abilities">
                {{ item.ability.name }}
            </div>
        </div>
    </div>
    <div>
        <div>
            <h4>Evolution Chain</h4>
            <div class="card" *ngFor="let pokemon of pokeEvolutionData" [routerLink]="`/detalhes/${pokemon.id}`">
                <img [src]="pokemon.artworkSrc" [alt]="pokemon.name">
                <p>{{ pokemon.name }}</p>
                <div>
                    <span
                        *ngFor="let type of pokemon.types"
                        [style.backgroundColor]="typeColor[type.type.name]">
                        {{ type.type.name }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
